.Step {
  display: flex;
  align-items: center;
  position: relative;
  padding: 0 25px;
  border-bottom: 1px solid $light-gray;

  &:last-child {
    &::after {
      display: none;
    }
  }
  &::after {
    content: '';
    position: absolute;
    background-color: $light-gray;
    height: 39px;
    width: 2px;
    left: 33px;
    top: 35px;
    z-index: 2;
  }
  &--Complete {
    &::after {
      background-color: $blue-1;
    }
  }
  &--current {
    &::after {
      background-color: $light-gray;
    }
  }
  &__Status {
    position: relative;
    margin-right: 45px;
    border: 1px solid steelblue;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    z-index: 3;
    &--Pending {
      border: 1px solid $light-gray;
    }
    &--Current {
      border: 1px solid $blue-1;
    }
    &--Complete {
      border: 1px solid $blue-1;
      background-color: $blue-1;
    }
    &:last-child {
      &::after {
        display: none;
      }
      &::before {
        display: none;
      }
    }
    // &::before {
    //   content: '';
    //   position: absolute;
    //   background-color: $blue-1;
    //   height: 17px;
    //   width: 2px;
    //   left: 8px;
    //   bottom: 16px;
    // }
    // &::after {
    //   content: '';
    //   position: absolute;
    //   background-color: $blue-1;
    //   height: 35px;
    //   width: 2px;
    //   left: 8px;
    //   top: 16px;
    // }
  }
}
