/*Colors*/
$panel-background: #f2f5f9;
$blue-1: #558ce6;
$white: #fff;
$light-gray: #e2e2e2;

/* Common */

$s: 1.125rem; // default spacer

$s-xxxxs: $s * 0.1666; // 3
$s-xxxs: $s * 0.333; // 6
$s-xxs: $s * 0.5; // 9
$s-xs: $s * 0.666; // 12
$s-s: $s * 0.833; // 15
$s-m: $s; // 18
$s-l: $s * 1.333; // 24
$s-xl: $s * 1.667; // 30
$s-xxl: $s * 2; // 36
$s-xxxl: $s * 2.667; // 48
$s-xxxxl: $s * 3.333; // 60

$breakpoints: (
  s: 0,
  s-m: 21em,
  m: 31em,
  m-l: 41em,
  l: 51em,
  l-xl: 61em,
  xl: 71em,
  xl-xxl: 78em,
  xxl: 81em,
  xxxl: 97em,
);
